---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
NamespaceIndentation: All
IndentCaseLabels: false
AccessModifierOffset: -2
IndentRequiresClause: true
RequiresClausePosition: OwnLine
ColumnLimit: 120
ContinuationIndentWidth: 2
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Right
ReferenceAlignment: Right
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
MaxEmptyLinesToKeep: 10
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
IndentPPDirectives: BeforeHash
SortIncludes: Never
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParens: Never
...
